
@{
}
<h1>
    MVC View Results Çeşitleri
</h1>

<h4>
    Redirect Result : Sayfayı bir url adresine yönlendirmeyi sağlar
</h4>

@Html.ActionLink("Redirect Result","Yonlendir")

<a href="/MVC08ViewResults/Yonlendir?arananDeger=aspNetMvc">Query String</a>

<h4>
    Redirect To Action Result : Sayfayı bir actiona yönlendirmemizi sağlar
</h4>

<a asp-action="ActionaYonlendir">Redirect To Action</a>

<h4>
    Redirect To Route Result : Sayfayı başka bir route yönlendirmemizi sağlar
</h4>

<a asp-action="RouteYonlendir">Redirect To Route</a>

<h4>
    PartialView Result : Actiona gelecek istek sonucunda geriye partial view döndürmeyi sağlar
</h4>

<a asp-action="RouteYonlendir">PartialView Route</a>